<!DOCTYPE html>
<html>
<head>
<title>DoConnect</title>
<link rel="stylesheet" type="text/css">
</head>
<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

		<div class="signup">
			<form>
				<label for="chk" aria-hidden="true">Sign up</label> <input
					type="text" name="txt" placeholder="User name" required>
				<input type="email" name="email" placeholder="Email" required>
				<input type="password" name="pswd" placeholder="Password"
					required>
                        <div class="form-group">
                           <select id="role">
                             <option value="admin">Admin</option>
                             <option value="user">User</option>
                             </select>
                    </div>
				<button>Sign up</button>
			</form>
		</div>

		<div class="login">
			<form>
				<label for="chk" aria-hidden="true">Login</label> <input type="text"
					name="username" placeholder="Enter Username" required> <input
					type="password" name="pswd" placeholder="Enter Password" required>
				<div>
					<input type="button" class="btn btn-primary" id="btn-login" routerLink="/app-userhome"
						value="Login" />
				</div>
						</form>
		</div>

	</div>

</body>
</html>
