<!-- login_page.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title> 
            Login - DoCnnect
        </title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstarp.min.css" />
    </head>
    <body>
        <div class="container text-center">
            <div>
                <h1>Login</h1>
            </div>
            <form
             style="max-width: 600px; margin: 0 auto;"
            >
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-form-Label col-4">User Name</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="username" required />

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-Label col-4">Password</label>
                    <div class="col-8">
                        <input type="password" class="form-control" id="password" required 
                        minlength="6" maxlength="10"/>

                    </div>
                </div>
                

                <div>
                    <input type="button" class="btn btn-primary" id="btn-login" value="Login" onclick="fire_login_ajax_submit();" />
                </div>
            </div>
            
            <div id="loginresponse"></div>

            </form>
            
       
            <h2>Don't have an account?</h2>
            <a href = signup>Register Here</a>
            
            
        </div>
        
        

      
      
      <script type="text/javascript"
        src="js/jquery-3.6.0.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>


    </body>
</html>