<!DOCTYPE html>
<html>
<head>
<title>DoConnect</title>
<link rel="stylesheet" type="text/css">
</head>
<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
		<div class="login">
			<form>
				<label for="chk" aria-hidden="true">Login</label> 
				<input type="text" name="username" placeholder="Enter Username" required> 
				<input type="password" name="pswd" placeholder="Enter Password" required>
				<div>
					<input type="button" class="btn btn-primary" id="btn-login" routerLink="/app-userhome"
						value="Login" />
				</div>
			</form>
		</div>

	</div>

</body>
</html>
