<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 
<h3 class = "active">Pending Questions</h3>
<div class="body">
                <div class="col-8">
                    <input type="text" class="form-control" field="Question" required
                    minlength="5" maxlength="100"/>
                </div>
                <div class="col-9">
                    <button class="button1"> approve</button>
                    <button class="button2"> delete</button>
                </div>
           </div>
</body>
</html>
