<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-88559-1">
        <link rel="stylesheet" type="text/css">
        <title> 
            Admin Home - DoConnect
        </title>
        
    </head>
    <body>
        <div class="active">
            <ul>
            <label class="logo">DoConnect</label>      
                    <li class="pending"><a href="#">Pending Questions</a></li>
                </ul>
            </div>
            &nbsp;
        <div class="col4">
            <div class="topic">
                <label class="col-form-Label col-4" >Add a Topic</label>
                <div class="col-8">
                    <input type="text" class="form-control" field="Question" required
                    minlength="5" maxlength="100"/>
                </div>
                <div>
                    <button type="add" class="button">ADD</button>
                </div>
            </div>
        </div>
    </body>
</html>